<html>
 <head>
   <title>Submitted form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
   <div id="container">
     <div class="pagetitle">
       <h1>Form submitted</h1>
     </div>
     <div id="main">
       <p>Result: {{result}}</p>
       <p>
          <strong>PH</strong>: {{in1}} <br>
          <strong>in2</strong>: {{in2}} <br>
          <strong>in3</strong>: {{in3}} <br>
          <strong>in4</strong>: {{in4}} <br>
          <strong>in5</strong>: {{in5}} <br>
          <strong>in6</strong>: {{in6}} <br>
          <strong>in7</strong>: {{in7}} <br>
          <strong>in8</strong>: {{in8}} <br>
          <strong>in9</strong>: {{in9}} <br>
          <strong>in10</strong>: {{in10}} <br>
       </p>
     </div>
   </div>
 </body>
</html>
