<html>
 <head>
   <title>Submitted form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
   <div id="container">
     <div class="pagetitle">
       <h1>Form submitted</h1>
     </div>
     <div id="main">
         <p>Result: {{result}}</p>
       <p>Here's a review of the information that you sent:</p>
       <p>
          <strong>PH</strong>: {{in1}} <br>
          <strong>PaCO2</strong>: {{in2}} <br>
          <strong>HCO3</strong>: {{in3}} <br>
          <strong>Na+</strong>: {{in4}} <br>
          <strong>Cl-</strong>: {{in5}} <br>
          <strong>Alb</strong>: {{in6}} <br>
          <strong>Una</strong>: {{in7}} <br>
          <strong>Uk</strong>: {{in8}} <br>
          <strong>Ucl</strong>: {{in9}} <br>
          <strong>Uph</strong>: {{in10}} <br>
          <strong>Bk</strong>: {{in11}} <br>
       </p>
     </div>
   </div>
 </body>
</html>
